/*
    Project: BoardAPI
    Date of creation: 2019.05.27 10:53
*/
* {
    -fx-primary: rgb(0, 0, 0);
    -fx-secondary: rgb(0, 0, 0);
    -fx-ternary: rgb(0, 0, 0);
}

/*
.root {
    -fx-background-color: silver;
}

.board {
    -fx-padding: 100;
}

.board-tile-top {
    -fx-background-color: transparent;
}

.board-tile-top:hover {
    -fx-background-color: rgba(100, 120, 210, 65);
}*/
